.main-container {
  display: grid;
  grid-template-rows: 30% 20% 50%;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-color: #242424;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  color: #26ab68;
}

.home-btn {
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #26ab68;
  width: 10%;
  height: 2rem;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.home-btn:hover {
  color: #a2c947 ;
}

.icon-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
