.list-main{
    color:var(--main-green);
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height: 100%;
    background-color: var(--main-black);
    overflow-x: hidden;
}

.title{
    font-size:30px;
    display:flex;
    align-items:center;
    margin-left: 2rem;
}

.list {
    display: flex;
}

.list-element {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 95vw;
    height: 3.5rem;
    max-width: 100%;
    margin-top:1rem;
    border-bottom:1px solid var(--main-green);
}

.list-name{
    display:flex;
    align-items:flex-end;
    font-size: 25px;
    cursor: pointer;
}

.list-score {
    display:flex;
    align-items:flex-start;
    font-size: 25px;
    cursor: pointer;
}

.delete-update {
    color:white;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    /* width:200rem; */
    margin-bottom: 5px;
}

.delete{
    display: flex;
    margin-right:20px;
    border: 1px solid #FC4848;
    background-color: #FC4848;
    width: 5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.delete-update.hide {
    display:none;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    margin-bottom: 5px;
}

.update{
    display: flex;
    margin-right:20px;
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    width: 5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.canceled {
    color: #FC4848;
}

.list-add-btn {
    display: flex;
    margin-right:20px;
    border: 1px solid var(--main-green);
    width: 14.2rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top:3rem;
}

.hide-add-btn {
    display:none;
}

.checkbox-field {
    float: right;
}

.checkbox-text {
    font-family: 'Josefin Sans', sans-serif;
}

/* Modal */

.modal-container {
    display:grid;
    grid-template-rows: 20% 70% 10%;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height: 100%;
}

.modal-title {
    font-size: 50px;
    color:var(--main-green);
    text-align: center;
}

.modal-body {
    display:flex;
    justify-content: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--main-green);
    width: 50%;
    height: 80%;

}

.modal-input-field {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--main-green);
    text-align: center;
    border:none;
    border-bottom: 2px solid var(--main-black);
    font-size: medium;
    width: 20rem;
    margin:auto;
}

.modal-input-field::placeholder{
    color:rgb(102, 101, 101);
}

.modal-input-field:focus {
    outline: none;
}

.modal-input-field:focus::placeholder {
    color: transparent;
}

.modal-select {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--main-green);
    text-align: center;
    border: none;
    border-bottom: 2px solid var(--main-black);
    font-size: medium;
    width: 20rem;
    margin: auto;
}

.modal-select:focus {
    outline: none;
}

.modal-checkbox-field {
    padding-bottom: 3em;
}

.modal-checkbox {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--main-green);
    text-align: center;
    border: 2px solid var(--main-black);
    font-size: medium;
}

.modal-checkbox-text {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main-black);
    font-size: medium;
    width: 20rem;
    margin: auto;
}

.modal-checkbox-title {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main-black);
    font-size: x-large;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.modal-add-btn{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color:var(--main-green);
    width:40%;
    height:2rem;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}

.modal-error-message {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-green);
}

.ReactModal__Overlay {
    opacity: 0;
    /* transform: translateX(-100px); */
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    /* transform: translateX(-100px); */
}



/* DetailviewModal */



.modal-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    /* background-color: red; */
    height: 50%;
    width: 60%;
    max-height: 50%;
    max-width: 60%;
}

#image {
    height:100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.modal-right{
    display: grid;
    grid-template-rows: 30% 40% 30%
}

.modal-detail-header {
    display:flex;
    align-items: center;
}

.modal-detail-body {
    font-size: 20px;
    margin-top: 2rem;
}

.modal-detail-footer {
    display:grid;
    max-width:100%;
    max-height: 100%;

}

.modal-right-parent {
    display: grid;
    grid-template-rows: 30% 40%;

}

.modal-detail-header-parent {
    display:flex;
    align-items: center;
}

.modal-container-detail-parent{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height: 100%;
    /* background: linear-gradient(90deg, var(--main-black) 30%, #CFCCD6 0%); */
    display: grid;
    /* grid-template-columns: 32% 68%; */
}

