/* The navbar itself */
.navbar {
  border-bottom: 2px solid var(--main-green);
  text-transform: uppercase;
}

/* The list (ul) in the navbar */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 8.5vh; /* 8% of the viewport */
}

/* A nav element (li) */
.nav-element {
  align-self: stretch;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Nav elements on hover */
.nav-element:hover {
  background-color: var(--main-green);
}

/* The first nav element */
.first {
  padding-left: 1em;
}

/* The last nav element(s), contained in a div */
.last {
  margin-left: auto;
  display: flex;
  height: 100%;
}

/* The last nav elements, contained in a div */
.last.nav-element {
  padding-right: 0.75em;
}

/* Styling of NavLink */
.styled-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9vw;
}

/* Active style */
.active {
  background-color: var(--main-green);
}
