.profile-container {
    display:grid; 
    grid-template-rows: 20% 45% 35%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}
.profile-player-container {
    display:grid; 
    grid-template-rows: 15% 85%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}

.profile-header {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* #runner-header {
    ma
} */

.profile-title {
    color : var(--white)
}

.profile-body {
    display:grid;
    grid-template-columns: 50% 50%;
    
}

.profile-body-right {
    display:grid;
    grid-template-rows:50% 50%;
    /* align-items: center; */
    
}

.personal-info {
    margin-left:5rem;
    padding:10px;
    display: grid;
    grid-template-rows: 20% 80%;
    
    border:3px solid #247BA0;
    /* border-radius: 10px; */
    height:70%;
    width:50%;
    box-shadow: 0px 3px var(--main-green);
   
}

.personal-info p {
    color: var(--yellow);
    /* margin:auto; */
}

.personal-header {
    border-bottom: 2px solid #247BA0;
    display:grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    
}

.injury-header-left {
    display:flex;
    align-items: center;
}

.image-profile-injury {
    margin-bottom: 15px;
}

.injury-header-left h3 {
    margin-left:10px;
}

.personal-header h3 {
    color: var(--yellow);
    margin-left:10px;
}

.personal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

/* asd */

.personal-data p{
    margin-top:1rem;
}

.check-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:10px;
}
.checkbox {
    /* width: 1rem; */
}



.display {
    /* color: var(--main-green); */
    color:white;

}

.profile-body-left{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.profile-image-container{
    height: 80%;
    width: 100%;
    margin-left: 4rem;
    /* max-height: 70%;
    max-width: 60%; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    
}

.personalia-left-header {
    display:flex;
}

#profile-pic-player {
    height:auto;
    width: 420px;
    /* max-height: 100%;
    max-width: 100%; */
    /* object-fit: contain; */
}

.profile-footer {
    display: flex;
    justify-content: center;
}


.profile-injury-section {
    margin-left:5rem;
    border: 3px solid;
    border-color: #247BA0;
    /* display:grid; */
    display: grid;
    grid-template-rows: 20% 80%;
    padding:10px;
    height: 60%;
    width: 50%;
    box-shadow: 0px 3px var(--main-green);
/*    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
}

.profile-injury-section p {
    color: var(--yellow)
}



.profile-injury-header {
    border-bottom: 2px solid #247BA0;
    display:grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    
}

.input-section{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

#input-photo {
    margin-top:10px;
}

.input-section p {
    color: var(--yellow)
}

.profile-injury-body {
    display:flex;
    align-items: center;
}