.register-container {
    display:grid;
    grid-template-rows: 30% 50% 20%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
    background-color: #242424
}


.header-register {
    display: grid;

}


.register-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
    height:100%;
    margin:auto;
    background-color: #26AB68;
    border-radius: 15px;
}

.main-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color:#26AB68;
}

.register-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#26AB68;
    width:10%;
    height:2rem;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}



.footer-register {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {

    font-family: 'Josefin Sans', sans-serif;
    background-color: #26AB68;
    text-align: center;
    border:none;
    border-bottom: 2px solid #242424;
    
    font-size: medium;
    width: 20rem;
    height: 17%;
    margin-top: 4rem;
  

}

.input-field:focus{
    outline:none;
}


.input-field:focus::placeholder{
    color:transparent;
}


.input-field::placeholder{
    color:#242424;
}


.form{
    margin-bottom: 3rem;
}

.arrow {
    margin-top:10px;
    margin-left:10px;
    cursor:pointer;
}