html,
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-black);
}

textarea {
  font-family: "Josefin Sans", sans-serif, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Color variables for global color scheme */
:root {
  --main-green: #26ab68;
  --main-black: #242424;
  /* --yellow : #DEBA44; */
  --yellow: #fff;
  --white: #fff;

  --success: #28a745;
  --error: #dc3545;
}
